.footer{
	width:100%;
	height: 10em;
	display:block;
	overflow:hidden;
	padding:40px;
	box-sizing: border-box;
	background-color: #A66F1C;
	margin-top: -2vw;
}

.footer::before{
	/*niečo vymysli na podobu trojuholnika abo co*/
}

.InnerFooter{
	display: block;
	margin: 0 auto;
	width: 80%;
	height: 100%;
	margin-top: -1.5em;
}

#Copyright{
	display: block;
	font-size: 15px;
	padding-top: 3vw;
	float: middle;
	color: white;
	font-family: "Poppins", sans-serif;


}

@media(max-width: 858px){
	.footer{
		height:550px;
		width:auto;
	}
	.footer .InnerFooter{
		width: auto;
		height: 220px;
		text-align: left;
		}